<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SupremeTransport.Properties.Settings.supremetempConnectionString"
            connectionString="Data Source=.;Initial Catalog=supremetemp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="supremeCon" connectionString="data source=.; initial catalog=supremetemp; integrated security=yes;" providerName="System.Data.SqlClient"/>

	</connectionStrings>
</configuration>