<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PTConfigEntities" connectionString="metadata=res://*/PTConfigModel.csdl|res://*/PTConfigModel.ssdl|res://*/PTConfigModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PTConfig;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MoviePlexEntities" connectionString="metadata=res://*/MoviePlex.csdl|res://*/MoviePlex.ssdl|res://*/MoviePlex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MoviePlex;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>