<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BlogginModelContainer" connectionString="metadata=res://*/BlogginModel.csdl|res://*/BlogginModel.ssdl|res://*/BlogginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>