<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDualNameService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7109/DualNameService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDualNameService"
                contract="IDualNameService" name="WSDualHttpBinding_IDualNameService">
                <identity>
                    <userPrincipalName value="axkhan2@us.bank-dns.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>