<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProductPayEntities" connectionString="metadata=res://*/SummaryEntity.csdl|res://*/SummaryEntity.ssdl|res://*/SummaryEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmamna1hx18m42,61954;initial catalog=ProductPay;persist security info=True;user id=syncada;password=s;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SummaryEntityModelContainer" connectionString="metadata=res://*/SummaryEntityModel.csdl|res://*/SummaryEntityModel.ssdl|res://*/SummaryEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmamna1hx18m42,61954;initial catalog=ProductPay;user id=Syncada;password=s;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>