<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculatorService">
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/CalculatorService" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ICalculatorService"
          contract="ICalculatorService" name="BasicHttpBinding_ICalculatorService" behaviorConfiguration="calculatorBehavior">
        <identity>
          <dns value="WCFService"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="calculatorBehavior">
          <clientCredentials>
            <clientCertificate findValue="CN=WCFServiceTrust"
                               storeName="My"
                               storeLocation="CurrentUser"
                               x509FindType="FindBySubjectDistinguishedName"/>
            
            <serviceCertificate>
              <defaultCertificate findValue="CN=WCFService"
                                  storeName="TrustedPeople"
                                  storeLocation="CurrentUser"
              x509FindType="FindBySubjectDistinguishedName"/>
              
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>