<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorService">
                    <security mode="Message">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/CalculatorService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculatorService"
                contract="ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
          
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="calculatorEndpointBehavior">
            <clientCredentials>
              <clientCertificate findValue="CN=WCFSerivce"
                                 storeName="My"
                                 storeLocation="LocalMachine"
                                 x509FindType="FindBySubjectDistinguishedName">
              </clientCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="calculatorBehavior">
            <serviceCredentials>
              <serviceCertificate findValue="CN=WCFService"
                                  storeName="My"
                                  storeLocation="LocalMachine"
                                  x509FindType="FindBySubjectDistinguishedName">
              </serviceCertificate>
            </serviceCredentials>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>