<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITestManagerService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1130/ManagerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestManagerService"
                contract="ITestManagerService" name="WSHttpBinding_ITestManagerService">
                <identity>
                    <userPrincipalName value="US\axkhan2" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>