<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TMDbContainer" connectionString="metadata=res://*/Data.TMDb.csdl|res://*/Data.TMDb.ssdl|res://*/Data.TMDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TestManagerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TestManagerDBContainer" connectionString="metadata=res://*/Data.TestManagerDB.csdl|res://*/Data.TestManagerDB.ssdl|res://*/Data.TestManagerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TestManagerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <membership defaultProvider="TestManagerMembershipProvider">
      <providers>
        <clear />

        <add name="TestManagerMembershipProvider" type="Test.Manager.MembershipProvider.ManagerMembership" connectionStringName="TMDbContainer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="TestManager" />
      </providers>
    </membership>
    <roleManager defaultProvider="TestManagerRoleProvider" enabled="true">
      <providers>
        <!--<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />-->
        <clear />
        <add name="TestManagerRoleProvider" type="Test.Manager.Provider.RoleProvider.TestManagerRoleProvider" connectionStringName="TMDbContainer" applicationName="TestManager" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TestManagerslib.Implementation.TestManagerService"
               behaviorConfiguration="wsHttpBehaviorConfiguration">
        <endpoint address="" binding="wsHttpBinding" contract="TestManagerslib.ServiceContract.ITestManagerService"
                bindingConfiguration="wsBinding" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsBinding">
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="true">
            </message>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsHttpBehaviorConfiguration">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <userNameAuthentication membershipProviderName="TestManagerMembershipProvider" userNamePasswordValidationMode="MembershipProvider" >
            </userNameAuthentication>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" findValue="CN=WCFService"
                                x509FindType="FindBySubjectDistinguishedName"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="TestManagerRoleProvider" >
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
