<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PracDBEntities" connectionString="metadata=res://*/PracDb.csdl|res://*/PracDb.ssdl|res://*/PracDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PracDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pracdbEntities" connectionString="metadata=res://*/PracDb.csdl|res://*/PracDb.ssdl|res://*/PracDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=pracdb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>