<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mysqlLinq.Properties.Settings.mydbConnectionString"
            connectionString="server=localhost;User Id=root;password=andheri;Persist Security Info=True;database=mydb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>