<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dateTime.Properties.Settings.tabledbf" connectionString="Provider=VFPOLEDB.1;Data Source=&quot;D:\Documents and Settings\axkhan2\Desktop\table\table1.dbf&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>