<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
	<system.serviceModel>
		<services>
			<service name="httpSample.Service"
					 behaviorConfiguration="httpBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="httpSample.IPeople" />
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="basicBinding"
						 allowCookies="false"
						 useDefaultWebProxy="true">
					<security mode="None" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="httpBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
