<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PracDBEntities" connectionString="metadata=res://*/PracDB.PracticeDB.csdl|res://*/PracDB.PracticeDB.ssdl|res://*/PracDB.PracticeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=wd-xpa6gcaej037;Initial Catalog=PracDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>