<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HRDBEntities" connectionString="metadata=res://*/HRDBModelDatabase.csdl|res://*/HRDBModelDatabase.ssdl|res://*/HRDBModelDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=HRDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>