<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="CalculatorBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
		    </serviceBehaviors>
        </behaviors>
        
		<services>
            <service name="TransportService.Service" behaviorConfiguration="CalculatorBehavior">
        		<endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="TransportService.ICalculator">
				</endpoint>
            </service>
        </services>
	
		<bindings>
			<basicHttpBinding>
				<binding name="Binding1" useDefaultWebProxy="false">
					<security>
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>

	</system.serviceModel>
</configuration>
