<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="stateConnectionString" connectionString="data source=localhost; initial catalog=aspnetdb;User Id=sa; Password=andheri788" />
    <add name="TMDbContainer" connectionString="metadata=res://*/Data.TMDb.csdl|res://*/Data.TMDb.ssdl|res://*/Data.TMDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TestManagerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <profile>
      <providers>
        <clear />        
<add name="AspNetSqlProvider"
             connectionString="stateConnectionString"
             applicationName="/"
             type="System.Web.Profile.SqlProfileProvider"
      />
      </providers>
    <properties>
      <add name="FirstName" type="System.String"/>
      <add name="LastName" type="System.String"/>
      <add name="Age" type="System.Int32" />
    </properties>
    </profile>
    <trace enabled="true" localOnly="true"/>
    <sessionState mode="SQLServer" sqlConnectionString="data source=localhost; User Id=sa; Password=andheri788;" cookieless="UseCookies" timeout="60">
    </sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>